multi-cluster-manager-frontend\node_modules
multi-cluster-manager-frontend\dist
multi-cluster-manager-frontend\dist-ssr
multi-cluster-manager-frontend\*.local
multi-cluster-manager-frontend\.DS_Store
multi-cluster-manager-frontend\package-lock.json

multi-cluster-manager-frontend\README-front.MD

permission-module
roles
*.js
*.MD
*.md

multi-cluster-manager\.idea
multi-cluster-manager\script\*
script
multi-cluster-manager\*.MD